@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
  font-family: 'Coda Caption', sans-serif;
  font-family: 'Pacifico', cursive;
background-color: rgb(255, 240, 249) ;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.header {
  border: 20px solid;
  text-align: center;
  border-radius: 5px;
  max-width: 2500px;
  max-height: 2500000px;
  padding:25px;
  margin: 100px auto 15px auto;
  background-color: rgb(188,236,224);
  color: white;
  border-color:white ;}
